#!/bin/sh
exec 2>&1
cd {{ wiki_root }}/wiki
export PATH="{{ wiki_root }}/bin:$PATH"
export VIRTUAL_ENV="{{ wiki_root }}"
exec chpst -u nobody gunicorn -w 4 -b {{ wiki_bind }} --access-logfile - --error-logfile - wsgi:wsgi_app
